<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>D2G.Store</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href= "{% static 'css/bootstrap.min.css' %}" type ="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    

  </head>
  <body>
      <div>
        <div class="search-form">
          <form class="d-flex ms-auto w-25" role="search">
              <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
              {% if request.user.is_authenticated %}
               <button class="btn btn-outline-primary mx-2"><i class="bi bi-cart4"></i></button>  
               {% endif %}
          </form>
          
      </div>
      
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'product1:product1' %}">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'blog:blog' %}>Deal Shock<i class="bi bi-fire"></i>  </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'abm:abm' %}>Chúng tôi là ai?</a>
                  </li>
                 
                    <img src="{{ MEDIA_URL }}images/logo.jpg" alt="logo" style="width: 8%;" class="logo">
                
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'size:size' %}>Bảng kích cỡ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'cs:cs' %}>Chính sách</a>
                  </li>
                  {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="#" id="navbarDropdown" onclick="toggleDropdown()"><i class="bi bi-person"></i>
                          {{ request.user.username }}
                      </a>
                      <div class="dropdown-menu" id="dropdownMenu" style="display: none;">
                          <a class="dropdown-item" href="#">Quản lý hồ sơ</a>
                          <a class="dropdown-item" href={% url 'logout2:logout2' %}>Đăng xuất <i class="bi bi-box-arrow-right"></i></a>
                      </div>
                    </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'login2:login2' %}">Đăng nhập <i class="bi bi-box-arrow-in-left"></i></a>
                      </li>
                  {% endif %}
                </ul>
              
              </div>
            </div>
          </nav>

        {%block content %}
        
        {%endblock content %}
          
      </div>
      <link rel="stylesheet" href = " {% static 'js/bootstrap.bundle.min.js' %} " type ="text/css">  
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="{% static 'js/base.js' %}"></script>
      <script src="{% static 'js/home.js' %}"></script>

      
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> {% endcomment %}
  </body>
</html>