{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="title-head">Chính sách Đổi trả</h1>
            <div class="content-page rte">
                
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;"><strong>1. CHÍNH SÁCH ĐỔI SẢN PHẨM</strong></span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;"><b>a. Đổi size</b></span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Áp dụng 01 lần đổi /1 đơn hàng với các đơn hàng mua online.</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Sản phẩm đổi trong thời gian 3&nbsp;ngày kể từ ngày mua hàng trên hoá đơn (đối với khách mua hàng trực tiếp tại cửa hàng), 3&nbsp;ngày kể từ ngày nhận hàng (Đối với khách mua online)</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Sản phẩm còn mới nguyên tem, tags và mang theo hoá đơn mua hàng, sản phẩm chưa giặt và không dơ bẩn, hư hỏng bởi những tác nhân bên ngoài cửa hàng sau khi mua hàng.</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Không áp dụng đối với các sản phẩm là phụ kiện</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;"><strong>b. Đổi sản phẩm lỗi</strong></span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">Điều kiện áp dụng</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Sản phẩm lỗi kỹ thuật: Sản phẩm rách, bung keo, …</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">Trường hợp không được giải quyết</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Sản phầm đã qua sử dụng</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">Đối với sản phẩm lỗi kỹ thuật cần phản hồi đến D2G &nbsp;trong vòng 3 ngày, kể từ ngày mua hàng trên hoá đơn đối với khách mua trực tiếp tại cửa hàng, 3&nbsp;ngày kể từ ngày nhận hàng đối với khách mua online.&nbsp;</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;"><strong>2. PHƯƠNG THỨC ĐỔI SẢN PHẨM</strong></span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Hàng mua trực tiếp tại cửa hàng: Đổi trả trực tiếp tại cửa hàng mua hàng</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Hàng mua online (thông qua webiste, Shopee, Lazada): liên hệ fanpage <a href="https://www.facebook.com/d2g.kirland.page">D2G.kirland</a>&nbsp;để được hướng dẫn đổi trả</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;"><strong>3. CHI PHÍ ĐỔI HÀNG</strong></span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Miễn phí đổi hàng cho khách mua ở D2G &nbsp;trong trường hợp bị lỗi từ nhà sản xuất, giao nhầm hàng, bị hư hỏng trong quá trình vận chuyển hàng.</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">– Trong trường hợp không vừa size hay khách hàng không ưng sản phẩm không muốn nhận hàng phiền khách hàng trả ship hoàn đơn hàng về</span></span></p>
                <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;"><b>𝑇𝘩𝑎𝘯𝑘𝘴 𝘧𝑜𝘳 𝘤ℎ𝘰𝑜𝘴𝑖𝘯𝑔 𝐷2𝐺</b></span></span></p>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
