{% extends "home/base.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiểu thêm về shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    
    <!-- Bao gồm thư viện Bootstrap -->
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> {% endcomment %}
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Đôi lời về chúng tôi</h1>
        <span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;"><strong>🫧𝐃𝟐𝐆.𝐊𝐈𝐑𝐋𝐀𝐍𝐃 - 𝐔𝐧𝐢𝐬𝐞𝐱 𝐂𝐮𝐬𝐭𝐨𝐦🫧</strong></span></span>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍Trong thời buổi sàn thương mại điện tử bùng nổ, Nhiều mặt hàng xuất hiện trên thị trường, thứ chúng ta quan tâm đến là chất lượng sản phẩm và giá thành hợp lý .
            𝐃𝟐𝐆 ra đời và mang đến cho khách hàng sản phẩm trẻ trung và năng động, giá cả, chất liệu phù hợp với người tiêu dùng.</span></span></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍𝐃𝟐𝐆 là Shop thời trang Unisex Online.</span></span></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍Chuyên KIRLAND Custom</span></span></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍Nhận làm áo nhóm, lớp</span></span></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍Style: Basic, Streetwear- Phù hợp mọi lứa tuổi</span></span></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍Với chất liệu là Cotton 100% từ 220-260gsm.</span></span></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍𝘔𝘶𝘢 𝘩𝘢̀𝘯𝘨 𝘵𝘢̣𝘪 👇🏻</span></span></p>
        <p class="card-text"><a href="https://www.facebook.com/d2g.kirland.page">- Fanpage: D2G.kirland<a/></p> 
        <p class="card-text"><a href="https://shopee.vn/d2g.kirland">- Shopee: D2G.kirland<a/></p>
        <p class="card-text"><a href="https://www.instagram.com/d2g.kirland">- Instagram: D2G.kirland<a/></p> 
        <p class="card-text"><a href="https://www.tiktok.com/@d2g.kirland">- Tiktokshop: D2G.kirland<a/></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📍Chúng tôi luôn tự tin cải thiện chất lượng, đổi mới sáng tạo,lắng nghe ý kiến và đảm bảo rằng các sản phẩm thiết kế của D2G khi đến tay Khách hàng phải luôn được đảm bảo, chất lượng đúng với thông tin và hình ảnh mà D2G đưa ra.</span></span></p>      
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">📎𝐃𝟐𝐆 rất mong nhận được sự ủng hộ nồng hậu từ phía khách hàng.</span></span></p>
        <p><span style="font-size:14px;"><span style="font-family:Tahoma,Geneva,sans-serif;">-----Only Online-----</span></span></p>
       
    </body>
    
</html>


{% endblock content%}